# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
Flask==0.10.1
gunicorn==19.3.0
Jinja2==2.8
Werkzeug==0.10.4
beautifulsoup4==4.4.1
requests==2.8.1
