<!doctype html>
<html>

<head>
  <title>NASA/OCIO Astronomy Picture Of the Day (APOD) Service</title>
</head>

<body>
  <p>
  <h2>NASA/OCIO Astronomy Picture Of the Day (APOD) Service</h2>
  </p>

  <h3>Service API</h3>
  <p>
    This service contains a single endpoint, &quot;<i>/{{ version }}/{{ methodname }}/</i>&quot;,
    which may be used to obtain a selected image url and metadata from http://apod.nasa.gov.

    You can use this service endpoint by sending a GET request which may contain one or
    more of the following parameters which direct its output:
  <table border="1">
    <tbody>
      <tr>
        <th>Allowed Field</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><b>date</b></td>
        <td>A string in YYYY-MM-DD format indicating the date of the APOD image
          (example: 2014-11-03). Must be after 1995-06-16, the first day an APOD picture was posted.
          There are no images for tomorrow available through this API. <i>Defaults to today's date.</i></td>
      </tr>
      <tr>
        <td><b>count</b></td>
        <td>An integer which will return the specified number of random images. Cannot exceed 25.</td>
      </tr>
    </tbody>
  </table>
  </p>
  <p>
    Effective September 1, 2026 this API will act as a passthrough to https://science.nasa.gov/wp-json/wp/v2/apod-basic<br>
    The following filters are no longer supported: "hd", "thumbs", "concept_tags"<br>
    The response payload will be different, and larger, see notes below.<br>
    This API will be taken offline on December 1, 2026. You will need to change over by then.<br>
    Full documentation can be found <a target="_blank" href="https://schlotterer.notion.site/APOD-Feed-And-API-User-Guide-39697d8747c38015a53edfdde76d4f5e">here</a>.
  </p>
  <p>
    For example, using curl (http://curl.haxx.se):
  </p>
  <p>
    <font size="+2">
<pre>
curl "http://{{ service_url }}/{{ version }}/{{ methodname }}/?date=2015-10-11"
</pre>
    </font>
  </p>
  <p>
    which should return an application/json response with a JSON formatted string containing
    the desired information.
    For example, the return JSON from the above query is:
  </p>
  <p>
  <pre>
{
  "alt": "See Explanation. Clicking on the picture will download the highest resolution version available.",
  "basic_html": "\u003C!doctype html\u003E\n\u003Chtml\u003E\n\u003Chead\u003E\n\u003Cmeta [data truncated] ,
  "basic_html_url": "https://science.nasa.gov/wp-json/wp/v2/apod-basic/151011/html",
  "copyright": "\u003Cb\u003E Image Credit: \u003C/b\u003E \u003Ca href=\"http://www.naoj.org/Introduction/index.html\" [data truncated] ,
  "credit": "\u003Cb\u003E Image Credit: \u003C/b\u003E \u003Ca href=\"http://www.naoj.org/Introduction/index.html\" [data truncated] ,
  "date": "2015-10-11",
  "explanation": "\u003Cstrong\u003EExplanation:\u003C/strong\u003E Clouds of glowing gas mingle with dust lanes in the [data truncated] ,
  "hdurl": "https://assets.science.nasa.gov/content/dam/science/cds/apod/apod/2015/october/Trifid_HubbleGendler_2400.jpg [data truncated] ,
  "media_type": "image",
  "permalink": "https://science.nasa.gov/image-article/apod-2015-october-11-in-the-center-of-the-trifid-nebula/",
  "post_id": 1236502,
  "title": "In the Center of the Trifid Nebula",
  "url": "https://science.nasa.gov/image-article/apod-2015-october-11-in-the-center-of-the-trifid-nebula/"
}
</pre>
  </p>
  <p>
    Returned field meanings are as follows:
  </p>
  <p>
  <table border="1">
    <tbody>
      <tr>
        <th>Returned Field</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><b>date</b></td>
        <td>APOD date in YYYY-MM-DD format.</td>
      </tr>
      <tr>
        <td><b>post_id</b></td>
        <td>WordPress post ID.</td>
      </tr>
      <tr>
        <td><b>title</b></td>
        <td>APOD post title.</td>
      </tr>
      <tr>
        <td><b>permalink</b></td>
        <td>URL of the APOD post on the site.</td>
      </tr>
      <tr>
        <td><b>media_type</b></td>
        <td>Normalized APOD media type, such as image, video, or iframe.</td>
      </tr>
      <tr>
        <td><b>explanation</b></td>
        <td>APOD explanation text.</td>
      </tr>
      <tr>
        <td><b>url</b></td>
        <td>APOD post URL. This matches the permalink.</td>
      </tr>
      <tr>
        <td><b>hdurl</b></td>
        <td>Full-size featured image URL when available.</td>
      </tr>
      <tr>
        <td><b>basic_html</b></td>
        <td>APOD Basic HTML document as a JSON string.</td>
      </tr>
      <tr>
        <td><b>basic_html_url</b></td>
        <td>Plain-text HTML source URL for easier copy/paste workflows.</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
